@import "variables";

.custom-background {
  background: $gray;
}

.form-control {
  padding: 1em;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.low-opacity {
  opacity: 0.5;
  color: $black;
}

.medium-opacity {
  opacity: 0.8;
  color: $black;
}

.sidebar {
  width: 240px;
  position: fixed;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 30px;
  overflow-y: auto;
  max-height: calc(100vh - 5rem);
  background-color: $gray;

  a {
    display: block;
    color: black;
    padding: 5px;
    padding-left: 8px;
    text-decoration: none;
  }

  h5 {
    padding: 2px;
    margin: 5px;
    padding-left: 16px;
    color: grey;
    border-bottom: 1px solid gray;
  }

  i {
    margin: 4px;
    font-size: 1.2em;
  }

  a.active {
    background-color: $light-blue;
    color: $blue;
  }

  a:hover:not(.active) {
    background-color: $light-blue;
    color: $blue;
  }
}

.sidebar-content {
  margin-left: 240px;
  margin-bottom: 50px;
  background-color: $white;

  .data-card-header {
    flex-direction: column;
    padding: 1em;

    h3 {
      padding: 4px;
      margin-top: 20px;
    }

    h4 {
      opacity: 0.5;
      padding: 4px;
      margin-top: 20px;
      margin-bottom: 0;
    }

    h4.active {
      opacity: 1;
      border-radius: 10px 10px 0 0;
      background-color: $light-blue;
      color: $blue;
    }

    h5 {
      opacity: 0.5;
      padding: 4px;
      margin-top: 20px;
    }

    h5.active {
      opacity: 1;
      color: $blue;
      border-bottom: 2px solid $blue;
    }

    .top-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 1.5em;
      border-bottom: 2px solid $light-gray;
    }

    .header {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 1.5em;
    }
  }

  .container {
    display: flex;
    flex-direction: column;

    .page-contain {
      align-items: center;
      justify-content: center;
    }

    .data-card {
      flex-direction: column;
      border-radius: 10px;
      border: solid $gray 2px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 1.75em 1.5em;
      margin: 15px;

      h3 {
        color: $dark-gray;
        font-size: 1em;
        font-weight: 600;
        line-height: 1;
        padding-bottom: 0.5em;
        margin: 1em;
      }

      h4 {
        color: $dark-gray;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 600;
        line-height: 1;
        margin: 1em;
        transition: color 0.45s ease;
      }

      p {
        color: $dark-gray;
        margin: 1em;
        font-weight: 600;
        line-height: 1.8;
      }

      .header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1.5em;
        border-bottom: 2px solid $gray;

        h3 {
          flex-grow: 1;
        }

        i {
          color: $blue;
          margin: 0.5em;
        }

        div {
          line-height: 1;
          margin: 1em;
        }
      }
    }
  }
}

.content {
  margin-top: 2rem;

  .container {
    margin-top: 2rem;
    background-color: $light-gray;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    border: solid $gray 2px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .data-card {
      flex-grow: 1;
      border-radius: 10px;
      padding-top: 50px;
      margin: 10px;

      p {
        color: $dark-gray;
        font-weight: 400;
        line-height: 1.8;
      }

      h3 {
        color: $dark-gray;
        font-size: 1.5em;
        font-weight: 600;
        line-height: 1;
        padding-bottom: 0.5em;
        margin: 0 0 0.142857143em;
        border-bottom: 2px solid $gray;
        transition: color 0.45s ease, border 0.45s ease;
      }
    }
  }
}

.chip {
  display: flex;
  flex-direction: row;
  padding-left: 25px;
  margin-top: 15px;
  margin-left: 15px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}

.chip-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px;
  margin: 8px;
  border-radius: 15px;
  background-color: #ffffff;
  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5em;

  .form-group {
    flex-grow: 1;
  }
}

.chip-card-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 15px;
  img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
  }

  h3 {
    padding-top: 10px;
  }
}

/* Checkbox */

.checkbox-lg .form-check-input {
  top: 0.8rem;
  scale: 1.4;
  margin-right: 0.7rem;
}

.checkbox-lg .form-check-label {
  padding-top: 13px;
}

.checkbox-xl .form-check-input {
  top: 1.2rem;
  scale: 1.7;
  margin-right: 0.8rem;
}

.checkbox-xl .form-check-label {
  padding-top: 19px;
}

.big-checkbox {
  width: 60px;
  height: 30px;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

